<section ng-controller="GroupsCreateController">
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
        <form name="userForm" data-ng-submit="saveGroup()" class="signin form-horizontal" novalidate autocomplete="off">
            <fieldset>
                <div class="form-group">
                    <label for="name">Group Name</label>
                    <input type="text" id="name" name="name" class="form-control" data-ng-model="group.name" placeholder="Group Name">
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-large btn-primary">Go</button>
                </div>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
